extends layout

block content
  h1= title

  ul
    each val in iteminstance_list
      li
        a(href=val.url) #{val.item.name} :
        if val.status=='Available'
          span.text-success #{val.status}
        else if val.status=='Out of Stock'
          span.text-danger #{val.status}
        else
          span.text-warning #{val.status}
        span  (On Clearance: #{val.due_clearance_formatted})

    else
      li There are no item units left in the shop.
