extends layout

block content

  h1 style: #{style.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 items

    dl
      each item in style_items
        dt
          a(href=item.url) #{item.name}
        dd [#{item.category}] 
        dd #{item.description}
        dd by #{item.brand.name} - #{item.brand.country}

      else
        p This style has no items
